    <form action = "/square_root/results">
      <label for = "usernumber">Enter a number</label>
      <input id = "usernumber" type = "text" name = "usernumber" placeholder = "What number do you want to square">
      <button>
      Calculate square root
      </button>
    </form>
